<!DOCTYPE html>
<html lang="en">
<head>

     <title>Leukemia</title>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=Edge">
     <meta name="description" content="This web site detect Leukemia and classify it to its subtypes">
     <meta name="keywords" content="Leukemia, detection, classification, AML, ALL, CLL, CML">
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

     <link rel = "icon" href = "static/images/Picture2.png" type = "image/x-icon">

     <link rel="stylesheet" href="/static/css/bootstrap.min.css">
     <link rel="stylesheet" href="/static/css/font-awesome.min.css">
     <link rel="stylesheet" href="/static/css/owl.carousel.css">
     <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

     <!-- main structure CSS file -->
     <link rel="stylesheet" href="/static/css/templatemo-style.css">

</head>
<body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

     <!-- Preloader -->
     <section class="preloader">
          <div class="spinner">

               <span class="spinner-rotate"></span>
               
          </div>
     </section>


     <!-- Menu aw el khat el fo2 da y3ni -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- Website Logo  -->
          <img src="static/images/Picture2.png" style="width: 25%; height: 25%; display: inline-block;">
          <p style="display: inline-block;" class="navbar-brand">Leukemia</p>
               </div>

               <!-- Menu Links -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#top" class="smoothScroll">Home</a></li>
                         <li><a href="#feature" class="smoothScroll">Project Description</a></li>
                         
                         <li><a href="#courses" class="smoothScroll">Functionality</a></li>
                         <li><a href="#team" class="smoothScroll">Team Members</a></li>
                         
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#team"><i class="fa fa-envelope-o"></i> Contact Us</a></li>
                    </ul>
               </div>

          </div>
     </section>


     <!-- Home -->
     <section id="home">
          <div class="row">

                    <div class="owl-carousel owl-theme home-slider">
                         <div class="item item-first">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1 style="color:rgb(44, 44, 44)">Detect Leukemia</h1>
                                             <h3 style="color:rgb(44, 44, 44)">Our web application detects and classifies leukemia into its subtypes  </h3>
                                             <a href="#feature" class="section-btn btn btn-default smoothScroll" style="color:rgb(24, 124, 41) ; font-size: large;"> <b>Discover more</b></a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-second">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1 style="color:rgb(44, 44, 44)">Start your journey with our application</h1>
                                             <h3 style="color:rgb(44, 44, 44)">Upload your image and try it now</h3>
                                             <a href="#courses" class="section-btn btn btn-default smoothScroll" style="color:rgb(24, 124, 41) ; font-size: large;"> <b>Try Now</b></a>
                                        </div>
                                   </div>
                              </div>
                         </div>

                         <div class="item item-third">
                              <div class="caption">
                                   <div class="container">
                                        <div class="col-md-6 col-sm-12">
                                             <h1 style="color:rgb(44, 44, 44)">Efficient Dectecting Methods</h1>
                                             <h3 style="color:rgb(44, 44, 44)">Strong people don't put others down, they lift them up. Let us know of your feedback</h3>
                                             <a href="#team" class="section-btn btn btn-default smoothScroll" style="color:rgb(24, 124, 41) ; font-size: large; " > <b>Contact Us </b></a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
          </div>
     </section>


     <!-- FEATURE -->
     <section id="feature">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="feature-thumb">
                              <!-- <span>01</span> -->
                              <h3>Leukemia</h3>
                              <p style="text-align:justify;">Leukemia is a cancer in the blood that affects
                                   people of all ages and of any gender. It can 
                                   lead to destroying  the immune system of the 
                                   human body and makes the bone marrow produce 
                                   excess amount of abnormal WBCs, which do not 
                                   function properly. Leukemia can be classified 
                                   as either myeloid or lymphoid. The two main 
                                   types are divided into two subtypes: acute and
                                    chronic. Therefore, Leukemia types are: Acute 
                                    lymphoid Leukemia, Chronic lymphoid Leukemia, 
                                    Acute Myeloid Leukemia and Chronic Myeloid 
                                    Leukemia.
                              </p>
                              <p style="text-align:justify;">
                                   Through our website, we added our trained Leukemia model with CNN.
                                   <strong><a href="#courses">Upload </a></strong> your image now and let us predict whether the sample is healthy
                                   or not and which type of Leukemia if not.
                              </p>
                              <!-- <br> -->
                              
                         </div>
                    </div>

               </div>
          </div>
     </section>

     <!-- Courses -->
     <section id="courses">
          <div class="container">
               <div class="row">

                    <div class="col-md-12 col-sm-12">
                         <div class="section-title">
                              <h2>We are here for you<small>Make sure you are well</small></h2>
                         </div>
                         <center>
                              <div class="col-md-12 col-sm-12">
                                   <div class="item" >
                                        <a href="{{url_for('classAll')}}">
                                        <div class="courses-thumb">
                                             <div class="courses-top">
                                                  <div class="courses-image" >
                                                       <img src="/static/images/ndna.jpg" class="img-responsive" alt="">
                                                  </div>
                                                
                                             </div>

                                             <div class="courses-detail">
                                                  <h3>Check the blood sample</h3>
                                                  <p>Upload your image and let us predict which type of Leukemia or if it is a healthy sample.</p>
                                             </div>
                                        </div>
                                   </a>
                                   </div>
                              </div>
                         </center>
                         <!-- </div> -->

               </div>
          </div>
     </section>

     <!-- TEAM -->
    <section id="team">
     <div class="container">
       <div class="row">
         <div class="col-md-12 col-sm-12">
           <div class="section-title">
             <h2>Team Members <small>Meet Professional Team</small></h2>
           </div>
         </div>

         <div class="col-md-3 col-sm-6">
           <div class="team-thumb">
             <div class="team-image">
               <img
                 src="/static/images/esraa.jpg"
                 class="img-responsive"
                 alt=""
               />
             </div>
             <div class="team-info">
               <h3>Esraa Ramadan</h3>
             </div>
             <ul class="social-icon">
               <li>
                 <a
                   href="https://github.com/israa-ramadan"
                   class="fa fa-github"
                 ></a>
               </li>
               <li>
                 <a
                   href="https://www.linkedin.com/in/esraa-ramadan-7aaaa31a2/"
                   class="fa fa-linkedin"
                 ></a>
               </li>
             </ul>
           </div>
         </div>

         <div class="col-md-3 col-sm-6">
           <div class="team-thumb">
             <div class="team-image">
               <img
                 src="/static/images/photo_2022-07-14_06-23-58.jpg"
                 class="img-responsive"
                 alt=""
               />
             </div>
             <div class="team-info">
               <h3>Samar Ghoneim</h3>
             </div>
             <ul class="social-icon">
               <li>
                 <a href="https://github.com/Samar-G" class="fa fa-github"></a>
               </li>
               <li>
                 <a
                   href="https://www.linkedin.com/in/samar-ghoneim-b27b68206/"
                   class="fa fa-linkedin"
                 ></a>
               </li>
             </ul>
           </div>
         </div>

         <div class="col-md-3 col-sm-6">
           <div class="team-thumb">
             <div class="team-image">
               <img
                 src="/static/images/nada.jpg"
                 class="img-responsive"
                 alt=""
               />
             </div>
             <div class="team-info">
               <h3>Nada Samer</h3>
             </div>
             <ul class="social-icon">
               <li>
                 <a
                   href="https://github.com/NadaSameer"
                   class="fa fa-github"
                 ></a>
               </li>
               <li>
                 <a
                   href="https://www.linkedin.com/in/nada-sameer-1782471b5/"
                   class="fa fa-linkedin"
                 ></a>
               </li>
             </ul>
           </div>
         </div>

         <div class="col-md-3 col-sm-6">
           <div class="team-thumb">
             <div class="team-image">
               <img
                 src="/static/images/toka.jpg"
                 class="img-responsive"
                 alt=""
               />
             </div>
             <div class="team-info">
               <h3>Tuka Mohamed</h3>
             </div>
             <ul class="social-icon">
               <li>
                 <a
                   href="https://github.com/tokkamoh"
                   class="fa fa-github"
                 ></a>
               </li>
               <li>
                 <a
                   href="https://www.linkedin.com/in/toka-mohamed-795638213/"
                   class="fa fa-linkedin"
                 ></a>
               </li>
             </ul>
           </div>
         </div>
         <div class="col-md-3 col-sm-6">
           <div class="team-thumb">
             <div class="team-image">
               <img
                 src="/static/images/somaya.jpg"
                 class="img-responsive"
                 alt=""
               />
             </div>
             <div class="team-info">
               <h3>Somaya Yasser</h3>
             </div>
             <ul class="social-icon">
               <li>
                 <a
                   href="https://github.com/somayayasser3"
                   class="fa fa-github"
                 ></a>
               </li>
               <li>
                 <a
                   href="https://www.linkedin.com/in/somaya-yasser-66a8601b7/"
                   class="fa fa-linkedin"
                 ></a>
               </li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </section>


     
     <!-- Scripts -->
     <script src="/static/js/jquery.js"></script>
     <script src="/static/js/bootstrap.min.js"></script>
     <script src="/static/js/owl.carousel.min.js"></script>
     <script src="/static/js/smoothscroll.js"></script>
     <script src="/static/js/custom.js"></script>

</body>
</html>